body {
	font-family: Arial, sans-serif;
}

.Preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #eeeeee;
	z-index: 100;
  }

  .Preloader__Row {
	position: relative;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-top: -35px;
	margin-left: -35px;
	text-align: center;
	border-top-color: #344051;
	border-left-color: #344051;

	animation: spinner 400ms linear infinite;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-style: solid;
	border-width: 2px;
	border-radius: 50%;  
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	animation: spinner 1s linear infinite;
  }

  @keyframes spinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
 
  .Loaded__Hidden .Preloader {
	transition: 2s opacity;
	opacity: 0;
  }

  .Loaded .Preloader {
	display: none;
  }	

nav {
	width: 100%;
	height: 60px;
	background: #344051;
	position: fixed;
	z-index: 10;
}
.logo {
	color: white;
	font-size: 30px;
	line-height: 60px;
	padding-left: 380px;
	float: left;
	-webkit-animation: comming 2s ease;
	-o-animation: comming 2s ease;
	animation: comming 2s ease;
}
.menu {
	float: left;
	padding-left: 430px;
}
.menu li {
	float: left;
	line-height: 60px;
	color: white;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
	opacity: 0;
	animation: lifromtop 2s ease forwards;
}
.menu li a{
	transition: all 0.2s;
	color: white;
	transform: scale(1);
	display: inline-block;
}
.menu li a:visited{
	color:white;
}
.menu li a:hover{
	color: #e79121;
}
.menu li a:active{
	transform: scale(1.1, 1.1);
}
.Main {
	width: 100%;
	height: 1020px;
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.png) center/cover no-repeat;
}
.Title__Container {
	float: left;
	margin: 432px 0px 0px 404px;
	color: #2c384a;
	text-align: center;
	animation: titlemove 2.4s ease;
}
.Title__Container h1 {
	font-size: 60px;
	font-weight: bold;
}
.Title__Container h4 {
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
	font-weight: bold;
}
.Title__Container input {
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px;
	transition: all 1s;
}
.Title__Container input:hover{
	background: #344051;
	color: white;
}
.Title__Container input:active{
	transform: scale(1.1, 1.1);
}
.Header__Text {
	padding: 110px 0px 35px 0px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #263244;
	background: url(../img/underline.png) no-repeat center bottom;
}
@keyframes titlemove{
	from{
		opacity: 0;
		margin-left: -500px;
   }
	to{
		opacity: 1;
		margin-left: 404px;
   }
}
@keyframes comming {
	from {
		opacity: 0;
   }
	to{
		opacity: 1;
   }
}
@keyframes lifromtop{
	from{
		opacity: 0;
		margin-top: -80px;
   }
	to{
		opacity: 1;
		margin-top: 0;
   }
}
.menu li:nth-child(2){
	animation-delay: 0.4s;
}
.menu li:nth-child(3){
	animation-delay: 0.8s;
}
.menu li:nth-child(4){
	animation-delay: 1.2s;
}
.menu li:nth-child(5){
	animation-delay: 1.6s;
}
.menu li:nth-child(6){
	animation-delay: 2s;
}



/* About */




.About {
	width: 100%;
	height: 720px;
	background-color: #fcfdfd;
}
.About__Container {
	height: 100%;
	width: 100%;
	padding: 0px 580px;
}
.About__Header p{
	margin-left: -500px;
	-moz-animation: AboutAnimation 2s forwards;
	-o-animation: AboutAnimation 2s forwards;
	animation: AboutAnimation 2s forwards;
}
.About__Img {
	padding: 60px 0px 25px 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	-moz-animation: rotateImg 4s linear infinite;
	-o-animation: rotateImg 4s linear infinite;
	animation: rotateImg 4s linear infinite;
	animation-iteration-count: 1;
}
.About__Text p {
	font-size: medium;
	color: #3f495a;
	padding-bottom: 42px;
	margin-left: 500px;
	-moz-animation: AboutAnimation 2s forwards;
	-o-animation: AboutAnimation 2s forwards;
	animation: AboutAnimation 2s forwards;
}
.About__Text p:nth-child(1){
	margin-left: 500px;
	-moz-animation: AboutAnimation 2s forwards;
	-o-animation: AboutAnimation 2s forwards;
	animation: AboutAnimation 2s forwards;
}
.About__Text p:nth-child(2){
	margin-left: -500px;
	-moz-animation: AboutAnimation 2s forwards;
	-o-animation: AboutAnimation 2s forwards;
	animation: AboutAnimation 2s forwards;
}
.About__Container input {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 10px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	transition: all 1s;
}
.About__Container input:hover{
	background: #344051;
	color: white;
}
@keyframes rotateImg {
	0% {
		transform: perspective(1000px) rotateY(0deg);
   }
	100% {
		transform: perspective(1000px) rotateY(360deg);
   }
}
@keyframes AboutAnimation {
	from{
		opacity: 0;
   }
	to{
		opacity: 1;
		margin: 0;
   }
}



/* Skills */



.Skills {
	width: 100%;
	height: 550px;
	background: url(../img/SkillsBg.png) no-repeat;
	background-size: cover 
}
.Skills__Container {
	height: 100%;
	width: 100%;
	padding: 0px 380px;
}
.Skills__List {
	padding: 80px 40px 0px 40px;
	width: 25%;
	float: left;
	opacity: 0;
	transition: 1s;
	-moz-animation: SkillsAndStatisticsTransition 3s 1s forwards;
   ;
	-o-animation: SkillsAndStatisticsTransition 3s 1s forwards;
	animation: SkillsAndStatisticsTransition 3s 1s forwards;
}
.Skills__List img {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}
.Skills__List__Subtitle {
	padding: 40px 0px 20px 0px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #d2812b;
}
.Skills__List__Text {
	font-size: medium;
	color: #3f495a;
	text-align: center;
}



/* Case */



.Case {
	width: 100%;
	height: 1150px;
	background-color: #fcfdfd;
}
.Case__Container {
	height: 75%;
	width: 60%;
	margin: 0px 388px;
}
.Case__Image p {
	padding: 40px 0px 45px 0px;
	font-size: medium;
	text-align: center;
	color: #3f495a;
}
.Case__Image img {
	width: 100%;
}
.Case__Body {
	height: 25%;
	width: 60%;
	margin: 0px 388px;
}
.Case__Body__Left {
	height: 100%;
	width: 20%;
	float: left;
}
.Case__Body__Left h2 {
	font-weight: bold;
	color: #384354;
	font-size: large;
	line-height: 45px;
}
.Case__Body__Left p {
	color: #384354;
	font-size: medium;
}
.Case__Body__Left input {
	border-radius: 10px;
	background-color: #63b5ae;
	height: 40px;
	width: 100%;
	margin-top: 25px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: large;
	transition: all 0.5s;
}
.Case__Body__Left input:hover{
	box-shadow: 7px 7px #f7b018;
	transform: translateX(-7px);
	background-color: #2c384a;
}
.Case__Body__Right {
	height: 100%;
	width: 80%;
	float: left;
}
.Case__Body__Right h2 {
	font-weight: bold;
	color: #384354;
	font-size: large;
	line-height: 45px;
}
.Case__Body__Right p {
	color: #384354;
	font-size: medium;
}



/* Price */



.Price {
	height: 870px;
	width: 100%;
}
.Price__Container {
	height: 73%;
	width: 100%;
	padding: 0px 487px;
	background: url(../img/PriceUnderline.png) no-repeat center bottom;
}
.Price__Title {
	padding: 110px 0px 35px 0px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #263244;
}
.Price__Container form>p {
	color: #1c2534;
	font-size: 20px;
	font-weight: bold;
	margin: 40px 0px 15px 0px;
}
.Price__Container select {
	border: 0px;
	width: 100%;
	height: 60px;
	background-color: #eeeeee;
	color: #737373;
}
.Price__Footer {
	height: 30%;
	width: 100%;
	padding: 0px 487px;
}
.Price__Footer p {
	padding: 25px 0px 10px 0px;
	font-size: large;
	font-weight: bold;
}
.Price__Footer span {
	float: right;
	font-size: larger;
}
.Price__Form select {
	width: 100%;
	height: 60px;
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
	appearance: none;
	background-blend-mode: multiply;
	background-image: url('../img/Price_Select_Cursor.png');
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-color: #eeeeee;
}



/* Statistics */



.Statistics {
	width: 100%;
	height: 550px;
	background: url(../img/StatisticsBG.png) no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Statistics__Container {
	height: 100%;
	width: 100%;
	padding: 0px 380px;
}
.Statistics__List {
	padding: 80px 40px 0px 40px;
	width: 25%;
	float: left;
	opacity: 0;
	transition: 1s;
	-moz-animation: SkillsAndStatisticsTransition 3s 1s forwards;
	-o-animation: SkillsAndStatisticsTransition 3s 1s forwards;
	animation: SkillsAndStatisticsTransition 3s 1s forwards;
}
@keyframes SkillsAndStatisticsTransition{
	from{
		opacity: 0;
   }
	to{
		opacity: 1;
   }
}
.Statistics__List img {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}
.Statistics__List__Subtitle {
	padding: 40px 0px 20px 0px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: #323e4f;
}
.Statistics__List__Text {
	font-size: medium;
	color: #3f495a;
	text-align: center;
}
/* Review */
.Review {
	width: 100%;
	height: 590px;
}
.Review__Container {
	width: 100%;
	height: 100%;
}
.Review__Container img {
	padding: 40px 0px 25px 0px;
	display: block;
	margin-left: auto;
	margin-right: auto 
}
.Review__Body {
	width: 100%;
	height: 100%;
}
.Review__Body p {
	text-align: center;
	margin-bottom: 20px;
}
.Review__Input {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 30px;
	width: 100%;
}
.Review__Radio {
	display: inline-block;
	position: relative;
	padding-left: 50px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
}

/* Убираем дефолтный браузерный радиобатон */
.Review__Radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
/* Задаем стили */
.Review__Checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: #eee;
	border-radius: 50%;
}
/* Если выбрано - оранжевый фон */
.Review__Radio input:checked~.Review__Checkmark {
	background-color: orange;
}



/* Contacts */



.Contacts {
	width: 100%;
	height: 800px;
	background: url(../img/ContactsBG.png) no-repeat;
	background-size: cover;
}
.Contacts__Container {
	width: 100%;
	height: 100%;
}
.Contacts__Header {
	width: 100%;
	height: 20%;
}
.Contacts__Header>p {
	color: white;
}
.Contacts__Body {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 60%;
}
.Contacts__Body h1 {
	color: white;
	font-size: large;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.Contacts__Body>p {
	color: white;
	margin-top: 40px;
	text-align: center;
}
.Contacts__Body input[type="text"] {
	color: white;
	padding-left: 20px;
	float: left;
	margin: 20px 0px;
	height: 40px;
	width: 48%;
}
.Contacts__Body input[type="email"] {
	color: white;
	padding-left: 20px;
	float: right;
	margin: 20px 0px;
	height: 40px;
	width: 48%;
}
.Contacts__Body input[type="textarea"] {
	color: white;
	padding-left: 20px;
	height: 90px;
	width: 100%;
}
.Contacts__Body input[type="submit"] {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 30px;
	padding: 10px;
	text-align: center;
	font-size: medium;
	font-weight: bold;
	border: 3px solid white;
	background: none;
	border-radius: 5px;
	color: white;
	transition: all 1s;
}


.Contacts__Body input[type="submit"]:hover{
	background: white;
	color: #344051;
}


.Contacts__List {
	padding-top: 20px;
	display: inline-block;
	width: 33%;
	height: 120px;
	text-align: center;
}
.Contacts__List p {
	color: white;
}
.Contacts__List img {
	padding: 15px 0px 10px 0px;
	display: block;
	margin-left: auto;
	margin-right: auto 
}
.Contacts__Footer {
	width: 100%;
	height: 20%;
}



/* Google */

.Google_Map {
	height: 350px;
	width: 100%;
	background: red;
}


/* Footer */

.Footer {
	height: 100px;
	width: 100%;
	background: #354051;
}
.Footer p {
	padding-top: 50px;
	text-align: center;
	color: white;
}


/* ОТЦЕНТРИРОВАТЬ БЛОК margin-left: auto;
margin-right: auto;
width: 50%;
*/
